{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>WIT Trouble record</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link href="{% static 'problem/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'problem/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'problem/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'problem/css/form-validation.css' %}" rel="stylesheet">
    <link href="{% static 'problem/css/style.css' %}" rel="stylesheet">
  
    
  </head>
  <body>
    <div class="wit-web">
        <header>
          <div class="menu-header bg-light">
            <div class="container-fluid">
              
              <div class="logo text-start">
                <img src="{% static 'problem/picture/logo/Logo.webp' %}" alt="No Image">
              </div>
              <div class="nav-menu text-end">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <div class="container-fluid">
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Link
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
                        </li>
                      </ul>

                    </div>
                  </div>
                </nav>
              </div>
              
              
            </div>

          </div>
        </header>
        <div class="content">
          <div class="container">
             
            <div class="row">
                {% block content %}
                {%  endblock  %} 
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4"> 
                <h1>hahahahahaha</h1>
             </div>
            </div>
          </div>                    
        </div>
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">&copy; WIT Co., Ltd</p>
            <img src="{% static 'problem/picture/logo/Logo.webp' %}" alt="No Image">
            <ul class="nav col-md-4 justify-content-end">
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
          </div>
        </footer>
    </div>
    
    <!-- Bootstrap JavaScript Libraries -->
    <script src="{% static 'problem/js/jquery.js' %}"></script>
    <script src="{% static 'problem/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'problem/js/form-validation.js' %}"></script>
    <script src="{% static 'problem/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript">
      $(function() {
        $('#datepicker').datepicker();
        $('#datepicker1').datepicker();
      });
    </script>



 
  </body>
</html>